.fas-container{
  display: block;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 999;
  @include rwd(md){
    right: 2%;
    width: 70px;
    height: 70px;
  }
  @include rwd(lg){
    right: 2%;
    width: 70px;
    height: 70px;
  }
  @include rwd(xl){
    right: 2%;
    width: 70px;
    height: 70px;
  }

}
.fa-times{
  position: absolute;
  right: 0;
  color: $black;
  font-size: $font_size_6;
  cursor: pointer;
  @include rwd(md){
    font-size: $font_size_7;
  }
  @include rwd(lg){
    font-size: $font_size_7;
  }
  @include rwd(xl){
    font-size: $font_size_7;
  }
}
.fa-link{
  color: $link;
  font-size: $font_size_3;
  @include rwd(md){
    font-size: $font_size_4;
  }
}

.fa-question{
  display: none;
  position: absolute;
  top: 3%;
  right: 5%;
  color: $black;
  font-size: $font_size_4;
  z-index: 999;
  cursor: pointer;
  @include rwd(lg){
    display: block;
  }
  @include rwd(xl){
    display: block;
  }
}

