@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.marquee{
  span{
    font-weight: 600;
    letter-spacing: 1px;
    @include rwd(md_medium){
      font-size: $font_size_4;
    }
  }
}
