.activity{
  max-height: 400px;
  @include rwd(sm){
    width: 500px;
  }
  @include rwd(md){
    width: 600px;
  }
  @include rwd(lg){
    width: 700px;
  }
  @include rwd(xl){
    width: 800px;
  }
  .lightbox-container{
    .row{
      text-align: center;
      justify-content: center;
      .activity-tabList{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .tab{
          img{
            width: 20px;
          }
          p{
            @include fontSizeStyle;
            font-size: $font_size_2;
            @include rwd(sm){
              font-size: $font_size_3;
            }
            @include rwd(sm){
              font-size: $font_size_3;
            }
            @include rwd(md){
              font-size: $font_size_3;
            }
            @include rwd(lg){
              font-size: $font_size_4;
            }
            @include rwd(xl){
              font-size: $font_size_5;
            }
          }
        }
      }
      .activity-tabContainer{
        max-height: 300px;
        text-align: left;
        overflow: auto;
        .activity-tabContents{
          transform: scale(1,1);
          display: none;
          .content{
            a{
              .title{
                color: $link;
                @include fontSizeStyle;
                font-size: $font_size_2;
                @include rwd(md){
                  font-size: $font_size_2;
                }
                @include rwd(lg){
                  font-size: $font_size_3;
                }
                @include rwd(xl){
                  font-size: $font_size_4;
                }
              }
            }
            p{
              @include rwd(md){
                font-size: $font_size_1;
              }
              @include rwd(lg){
                font-size: $font_size_2;
              }
              @include rwd(xl){
                font-size: $font_size_3;
              }
            }
          }
        }
        .-on{
          display: block;
        }
      }
    }
  }
}
