.box-shadow{
  @include boxShadow;
}

.lightbox{
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: fit-content;
  border: 5px solid $bubble;
  background-color: $white;
  z-index: 900;
  transform:translate( -50%, -50%);
  .lightbox-container{
    position: relative;
    max-width: 1400px;
  }
}

.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $bubble;
  color: $black;
  background-color: $bubbleHover;
  cursor: pointer;
  border-radius: $border_radius_2;
}

.style-on{
  transform: scale(1.2,1.2); 
}

.law{
  background-color: $textBgcolor;
  border-radius: $border_radius_2;
  line-height: $line_height_2;
  .shadow-effect{
    background: $black;
    padding: 10px;
    border-radius: $border_radius_2;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include rwd(sm){
      padding: 20px;
    }
    p{
      overflow: auto;
      @include fontSizeStyle;
      font-size: $font_size_2;
      height: 15vh;
      color: $white;
      text-align: left;
      @include rwd(sm){
        height: 20vh;
      }
      @include rwd(md){
        height: 25vh;
      }
      @include rwd(lg){
        height: 30vh;
      }
      @include rwd(xl){
        height: 30vh;
      }
    }
  }
}

