
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $footer;
  .container-fluid{
    .row{
      justify-content: center;
      P{
        text-align: center;
        color: $white;
        @include fontSizeStyle;
        @include rwd(sm){
          font-size: $font_size_2;
        }
        @include rwd(md){
          font-size: $font_size_2;
        }
        @include rwd(lg){
          font-size: $font_size_3;
        }
        @include rwd(xl){
          font-size: $font_size_3;
        }
      }
      .visits{
        display: flex;
        p{
          color: $white;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
  }
}
