header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img{
    width: 50px;
    @include rwd(sm){
      width: 70px;
    }
    @include rwd(md){
      width: 90px;
    }
    @include rwd(lg){
      width: 90px;
    }
    @include rwd(xl){
      width: 90px;
    }
  }
  .title{
    font-size: $font_size_2;
    font-weight: 600;
    @include rwd(sm){
    font-size: $font_size_3;
    }
    @include rwd(md){
    font-size: $font_size_4;
    }
    @include rwd(lg){
    font-size: $font_size_5;
    }
    @include rwd(xl){
    font-size: $font_size_6;
    }
  }
}
