$colors: (
  TealBlue: #2B8099,
  SeaSerpent: #59C0C5, 
  SeaFoamGreen: #A8E0CA, 
  Alabaster: #EEF1EA, 
  Lotion: #FCFCFC, 
  BrightGray: #E9E9E9,
  fill: cadetblue,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
};
a {  
  color: var(--color);
  transition: .5s;
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #E9E9E9;
    button{
      background-color: $gray-100;
      color: var(--color);
    }
  }
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 8rem var(--hover);
}


$enable-responsive-font-sizes: true;
$font-size-base: 1rem;
$h2-font-size: 2rem;


@mixin rwd($breakpoint) {
  @if $breakpoint=="xl" {
    @media all and (min-width: 1201px) {
      @content;
    }
  }
  @if $breakpoint=="lg" {
		@media all and (min-width: 992px) and (max-width: 1200px) {
			@content;
		}
  }
  @else if $breakpoint=="md" {
		@media all and (min-width: 768px) and (max-width: 991px) {
			@content;
		}
  }
  @else if $breakpoint=="sm" {
		@media all and (min-width: 576px) and (max-width: 767px) {
			@content;
		}
  }
  @else if $breakpoint=="ssm" {
		@media all and (min-width: 375px) and (max-width: 575px) {
			@content;
		}
  }
  @else if $breakpoint==""{
    @media all and (max-width: 374px) {
			@content;
		}
  }
}

.opacity{
  a:nth-child(2n){
    @include rwd(''){
      background-color: mintcream;
    }
    @include rwd(ssm){
      background-color: mintcream;
    }
    @include rwd(sm){
      background-color: unset;
    }
    @include rwd(md){
      background-color: unset;
    }
    @include rwd(lg){
      background-color: mintcream;
    }
    @include rwd(xl){
      background-color: unset;
    }
  }
  
  a:nth-child(2), a:nth-child(3), a:nth-child(6), a:nth-child(7){
    @include rwd(sm){
      background-color: mintcream;
    }
    @include rwd(md){
      background-color: mintcream;
    }
  }
  
  a:nth-child(2), a:nth-child(4), a:nth-child(5), a:nth-child(7){
    @include rwd(xl){
      background-color: mintcream;
    }
  }
}



.opacity{
  background-color: #f8f9faad,
}

#container{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

p{  
  // color: var(--color);
  transition: 0.25s;
  margin: 0;
  padding: 0;
}

.btn{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  // border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  &:hover{
    background-color: var(--hover); 
    // border-color: var(--hover);
    color: white;
  }
}


.btn2{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  // color: var(--color);
  color: $gray-100;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  // background-color: transparent;
  background-color: var(--color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  &:hover{
    // background-color: var(--hover); 
    background-color: $gray-100;
    // border-color: var(--hover);
    color: var(--color);
  }
}


// a{
//   // color: var(--color);
//   background-color: transparent;
//   border: 1px solid transparent;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   &:hover,
//   &:focus {
//     background-color: var(--hover); 
//     // background-color: $gray-100;
//     border-color: var(--hover);
//     // color: var(--color);
//   }
// }
h1{
  color: var(--color);
  font-weight: bold;
}

h2{
  color: var(--color);
  font-weight: bold;
}

h3{
  color: var(--color);
  font-weight: bold;
}

h4{
  color: var(--color);
  font-weight: bold;
}

h5{
  color: var(--color);
  font-weight: bold;
}

h6{
  color: var(--color);
  font-weight: bold;
}


.nav-wrapper{
  min-width: 184px;
  position: relative;
  background-size: 4rem auto;
  background-repeat: no-repeat;
}

.nav-bg{
  @include rwd(''){
    display: none;
  }
  @include rwd(ssm){
    display: none;
  }
  @include rwd(sm){
    display: none;
  }
  @include rwd(md){
    display: none;
  }
  @include rwd(lg){
    display: flex;
  }
  @include rwd(xl){
    display: flex;
  }
}

// .box:before{
//   content: '';
//   position:absolute;
//   top:0;
//   left:-100%;
//   width:100%;
//   height:100%;
//   background: rgba(255,255,255,0.1);
//   transition:0.5s;
//   pointer-events: none;
// }

// .box:hover:before{
//   left:-50%;
//   transform: skewX(-5deg);
// }



.navbar-brand{
  @include rwd(''){
    font-size: 1rem;
  }
  @include rwd(md){
    font-size: 1.25rem;
  }
  @include rwd(lg){
    font-size: 1.5rem;
  }
  @include rwd(xl){
    font-size: 1.5rem;
  }
  img{
    width: 50px;
    @include rwd(sm){
      width: 70px;
    }
    @include rwd(md){
      width: 90px;
    }
    @include rwd(lg){
      width: 90px;
    }
    @include rwd(xl){
      width: 90px;
    }
  }
}

.btn-group{
  @include rwd(''){
    display: block;
  }
  @include rwd(md){
    display: block;
  }
  @include rwd(lg){
    display: none;
  }
  @include rwd(xl){
    display: none;
  }
}



.section-item-icon{
  width: 7rem;
  height: 7rem;
}

// .activity{
//   display: none;
// }

.weather{
  display: none;
}


.bi-alarm{
  font-size: 2rem;
}

a{
  text-decoration: none;
}

.card-text{
  a{
    display: inline-block;
  }
}




// $my-primary:       #2B8099;
// $my-secondary:     #59C0C5;
// $my-third:         #A8E0CA;
// $my-fore:         #EEF1EA;
// $my-five:         #FCFCFC;
// $my-six:         #E9E9E9;


// $theme-colors: (
//   "primary": $my-primary,
//   "secondary": $my-secondary,
//   "third": $my-third,
//   "fore": $my-fore,
//   "five": $my-five,
//   "six": $my-six,
//   "success": $green-300,
//   "warning": $yellow-300,
//   "light-gray": $gray-300,
//   "dark-gray": $gray-700,
// );

// $utilities: (
//   "opacity": (
//     property: opacity,
//     responsive: true,
//     values: (
//       0: 0,
//       10: .1,
//       20: .2,
//       25: .25,
//       50: .5,
//       60: .6,
//       75: .75,
//       80: .8,
//       100: 1,
//     )
//   )
// );

// $utilities: (
//   "opacity": (
//     property: opacity,
//     responsive: true,
//     stat: hover,
//     values: (
//       0: 0,
//       10: .1,
//       20: .2,
//       25: .25,
//       50: .5,
//       60: .6,
//       75: .75,
//       80: .8,
//       100: 1,
//     )
//   )
// );
