$colors: (
  TealBlue: #2B8099,
  SeaSerpent: #59C0C5, 
  SeaFoamGreen: #A8E0CA, 
  Alabaster: #EEF1EA, 
  Lotion: #FCFCFC, 
  BrightGray: #E9E9E9
);

$enable-responsive-font-sizes: true;

$font-size-base: 1rem;
$h2-font-size: 2rem;


@mixin rwd($breakpoint) {
  @if $breakpoint=="xl" {
    @media all and (min-width: 1201px) {
      @content;
    }
  }
  @if $breakpoint=="lg" {
		@media all and (min-width: 992px) and (max-width: 1200px) {
			@content;
		}
  }
  @else if $breakpoint=="md" {
		@media all and (min-width: 768px) and (max-width: 991px) {
			@content;
		}
  }
  @else if $breakpoint=="sm" {
		@media all and (min-width: 576px) and (max-width: 767px) {
			@content;
		}
  }
  @else if $breakpoint=="ssm" {
		@media all and (min-width: 375px) and (max-width: 575px) {
			@content;
		}
  }
  @else if $breakpoint==""{
    @media all and (max-width: 374px) {
			@content;
		}
  }
}

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
};


#container{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

p {  
  color: var(--color);
  transition: 0.25s;
  // font-size: 1.25rem;
  margin: 0;
  padding: 0;
  // &:hover,
  // &:focus { 
  //   border-color: var(--hover);
  //   color: var(--hover);
  // }
}

h1{
  color: var(--color);
  font-weight: bold;
}

h2{
  color: var(--color);
  font-weight: bold;
}

h3{
  color: var(--color);
  font-weight: bold;
}

h4{
  color: var(--color);
  font-weight: bold;
}

h5{
  color: var(--color);
  font-weight: bold;
}

h6{
  color: var(--color);
  font-weight: bold;
}


.nav-wrapper{
  min-width: 184px;
  position: relative;
  background-size: 4rem auto;
  background-repeat: no-repeat;
  // background-position: left top;
}


.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}



.header{
  .navbar-brand{
    @include rwd(''){
      font-size: 1rem;
    }
    @include rwd(md){
      font-size: 1.25rem;
    }
    @include rwd(lg){
      font-size: 1.5rem;
    }
    @include rwd(xl){
      font-size: 1.5rem;
    }
    img{
      width: 50px;
      @include rwd(sm){
        width: 70px;
      }
      @include rwd(md){
        width: 90px;
      }
      @include rwd(lg){
        width: 90px;
      }
      @include rwd(xl){
        width: 90px;
      }
    }
  }
}


.section-item{
  max-width: 7rem;
}

.section-item-icon{
  height: 7rem;
}

// .activity{
//   display: none;
// }

.weather{
  display: none;
}


.bi-alarm{
  font-size: 2rem;
}

a{
  text-decoration: none;
}

.card-text{
  a{
    display: inline-block;
  }
}
