$colors: (
  TealBlue: #2B8099,
  SeaSerpent: #59C0C5, 
  SeaFoamGreen: #A8E0CA, 
  Alabaster: #EEF1EA, 
  Lotion: #FCFCFC, 
  BrightGray: #E9E9E9,
  fill: cadetblue,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
};

@mixin rwd($breakpoint) {
  @if $breakpoint=="xl" {
    @media all and (min-width: 1201px) {
      @content;
    }
  }
  @if $breakpoint=="lg" {
		@media all and (min-width: 992px) and (max-width: 1200px) {
			@content;
		}
  }
  @else if $breakpoint=="md" {
		@media all and (min-width: 768px) and (max-width: 991px) {
			@content;
		}
  }
  @else if $breakpoint=="sm" {
		@media all and (min-width: 576px) and (max-width: 767px) {
			@content;
		}
  }
  @else if $breakpoint=="ssm" {
		@media all and (min-width: 375px) and (max-width: 575px) {
			@content;
		}
  }
  @else if $breakpoint=="tiny" {
    @media all and (max-width: 374px) {
			@content;
		}
  }
}

.container1 {
  margin: 0 auto;
  max-width: 100%;
  @include rwd('ssm'){
    max-width: 540px;
  }
  @include rwd('sm'){
    max-width: 720px;
  }
  @include rwd('md'){
    max-width: 960px;
  }
  @include rwd('lg'){
    max-width: 1140px;
  }
  @include rwd('xl'){
    max-width: 1140px;
  }
}

a {  
  // color: var(--color);
  transition: .5s;
  @include rwd('md') {
    &:hover,
    &:focus { 
      border-color: var(--hover);
      // color: #E9E9E9;
      button{
        background-color: $gray-100;
        color: var(--color);
      }
    }
  }
  @include rwd('lg') {
    &:hover,
    &:focus { 
      border-color: var(--hover);
      // color: #E9E9E9;
      button{
        background-color: $gray-100;
        color: var(--color);
      }
    }
  }
  @include rwd('xl') {
    &:hover,
    &:focus { 
      border-color: var(--hover);
      // color: #E9E9E9;
      button{
        background-color: $gray-100;
        color: var(--color);
      }
    }
  }
}

.fill:hover,
.fill:focus {
  @include rwd('md') {
    box-shadow: inset 0 0 0 10rem var(--hover);
  }
  @include rwd('lg') {
    box-shadow: inset 0 0 0 9rem var(--hover);
  }
  @include rwd('xl') {
    box-shadow: inset 0 0 0 9rem var(--hover);
  }
  
}


$enable-responsive-font-sizes: true;
$font-size-base: 1rem;
$h2-font-size: 2rem;



$grid-gutter-width: 2rem;

// number of cards per line for each breakpoint
$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 5,
);

html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex; /*使物件依序排列*/
  flex-direction: column; /*使物件垂直排列*/
}

.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

.wrapper-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}



.text-center {
  a {
    @include rwd(tiny){
      flex: 0 0 auto;
      width: 100%;
    }
    @include rwd(ssm){
      flex: 0 0 auto;
      width: 50%;
    }
  }
  a:nth-child(2n) {
    @include rwd(tiny){
      background-color: mintcream;
    }
    @include rwd(ssm){
      background-color: unset;
    }
    @include rwd(sm){
      background-color: unset;
    }
    @include rwd(md){
      background-color: unset;
    }
    @include rwd(lg){
      background-color: mintcream;
    }
    @include rwd(xl){
      background-color: mintcream;
    }
  }
  
  a:nth-child(2), a:nth-child(3), a:nth-child(6), a:nth-child(7){
    @include rwd(ssm) {
      background-color: mintcream;
    }
    @include rwd(sm){
      background-color: mintcream;
    }
    @include rwd(md){
      background-color: mintcream;
    }
  }
  a:nth-child(1) {
    border-radius: 30px 0 0 0;
  }
  a:nth-child(3) {
    @include rwd(lg) {
      border-radius: 0 30px 0 0; 
    }
    @include rwd(xl) {
      border-radius: 0 30px 0 0; 
    }
  }
  a:nth-child(2) {
    @include rwd(ssm) {
      border-radius: 0 30px 0 0;
    }
    @include rwd(sm){
      border-radius: 0 30px 0 0;
    }
    @include rwd(md){
      border-radius: 0 30px 0 0;
    }
  }
}

.opacity {
  background-color: #f8f9faad;
}
.more {
  display: none;
  @include rwd(md){
    display: inline;
  }
  @include rwd(lg){
    display: inline;
  }
  @include rwd(xl){
    display: inline;
  }
}

#container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

p {  
  transition: 0.25s;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  // &:hover{
  //   background-color: var(--hover); 
  //   color: white;
  // }
}


.btn2 {
  display: inline-block;
  height: 90px;
  font-weight: 400;
  line-height: 1.2;
  color: $gray-100;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--color);
  border: 1px solid transparent;
  padding: 0.75rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  @include rwd(md){
    &:hover{
      background-color: $gray-100;
      color: var(--color);
    }
  }
  @include rwd(lg){
    &:hover{
      background-color: $gray-100;
      color: var(--color);
    }
  }
  @include rwd(xl){
    &:hover{
      background-color: $gray-100;
      color: var(--color);
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color);
  font-weight: bold;
  cursor: context-menu;
}

.marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  span {
    display: inline-block;
    width: max-content;
    background-color: mintcream;
    font-weight: 700;
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 30s linear infinite;
    @include rwd('tiny') {
    animation: marquee2 20s linear infinite;
    }
    @include rwd('ssm') {
      animation: marquee2 20s linear infinite;
    }
    @include rwd('sm') {
      animation: marquee2 20s linear infinite;
    }
    @include rwd('md') {
      animation: marquee3 23s linear infinite;
    }
    &:hover {
      animation-play-state: paused
    }
  }
}


@keyframes marquee {
  0% { transform: translate(100%, 0); }
  100% { transform: translate(-105%, 0); }
}

@keyframes marquee2 {
  0% { transform: translate(50%, 0); }
  100% { transform: translate(-110%, 0); }
}

@keyframes marquee3 {
  0% { transform: translate(80%, 0); }
  100% { transform: translate(-110%, 0); }
}

/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01; 
    /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}

.bd-radiustop-30 {
  border-radius: 30px 30px 0 0;
}

.Isometric {
  max-width: 100%;
  width: 230px;
  height: 230px;
}

.border-4 {
  border: 4px solid #2B8099;
}

.scrollTop {
  position: fixed;
  right: 8%;
  bottom: 10px;
  background-color: #FCFCFC;
  padding: 15px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
  transition: all 0.4s ease-in-out 0s;
  a {
    color: #272727;
    font-size: 18px;
  }
}

.navbar-brand {
  img {
    width: 100%;
    @include rwd(sm) {
      width: 500px;
    }
    @include rwd(md) {
      width: 600px;
    }
    @include rwd(lg) {
      width: 600px;
    }
    @include rwd(xl) {
      width: 600px;
    }
  }
}



.section-item-icon {
  width: 6rem;
  height: 6rem;
}

.item4-icon {
  width: 6rem;
  height: 6rem;
  margin: 1rem auto;
}

.w-unset {
  width: unset;
}


.hover-blur {
  a {
    display: block;
    position: relative;
    overflow: hidden;
    h2 {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) scale(.8);
      margin-top: 0px;
      margin-bottom: 0px;
      width: 230px;
      height: 230px;
      border-radius: 100%;
      text-align: center;
      background-color: rgba(0,0,0,0.5);
      /*background dotted*/
      transition: all 0.5s linear;
      filter: alpha(opacity=0);
      opacity: 0;
      @include rwd('tiny') {
        opacity: 1;
      }
      @include rwd('ssm') {
        opacity: 1;
      }
      @include rwd('sm') {
        opacity: 1;
      }
      .text-white{
        transform: scale(0);
        transition: all 0.5s linear;
        line-height: 230px;
        opacity: 0;
        @include rwd('tiny') {
          opacity: 1;
        }
        @include rwd('ssm') {
          opacity: 1;
        }
        @include rwd('sm') {
          opacity: 1;
        }
      }
    }
  }
  img {
    transform: scale(.8);
    transition: all 0.5s ease-in-out;
  }
  &:hover{
    img {
      transform: scale(1);
      filter: grayscale(0.6);
    }
    a {
      h2 {
        filter: alpha(opacity=100);
        opacity: 1;
        .text-white {
          transform: scale(1);
          transition: all 0.5s linear;
          opacity: 1;
        }
      }
    }
  }
}


.search {
  max-width: 100%;
  width: 44px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}



// $my-primary:       #2B8099;
// $my-secondary:     #59C0C5;
// $my-third:         #A8E0CA;
// $my-fore:         #EEF1EA;
// $my-five:         #FCFCFC;
// $my-six:         #E9E9E9;


// $theme-colors: (
//   "primary": $my-primary,
//   "secondary": $my-secondary,
//   "third": $my-third,
//   "fore": $my-fore,
//   "five": $my-five,
//   "six": $my-six,
//   "success": $green-300,
//   "warning": $yellow-300,
//   "light-gray": $gray-300,
//   "dark-gray": $gray-700,
// );

// $utilities: (
//   "opacity": (
//     property: opacity,
//     responsive: true,
//     values: (
//       0: 0,
//       10: .1,
//       20: .2,
//       25: .25,
//       50: .5,
//       60: .6,
//       75: .75,
//       80: .8,
//       100: 1,
//     )
//   )
// );

// $utilities: (
//   "opacity": (
//     property: opacity,
//     responsive: true,
//     stat: hover,
//     values: (
//       0: 0,
//       10: .1,
//       20: .2,
//       25: .25,
//       50: .5,
//       60: .6,
//       75: .75,
//       80: .8,
//       100: 1,
//     )
//   )
// );
